.cookbook-slider {
	position: relative;
}

.cookbook-slider > .cookbook-slides {
	overflow: hidden;
}

.cookbook-slider > .cookbook-slides .slick-track,
.cookbook-slider > .cookbook-slides .slick-list {
	height: 100%;
}

.cookbook-slider > .cookbook-slides .cookbook-slide {
	flex-direction: row-reverse;
	gap: 30px;
	float: none;
	vertical-align: middle;
	border: 0;
    display: none;
}

.cookbook-slider > .cookbook-slides .cookbook-slide:nth-child(1) {
    display: inline-flex;
}

.cookbook-slider > .cookbook-slides .cookbook-slide.slick-slide {
    display: inline-flex;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-overlay {
	width: 40%;
	padding: 50px 0;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-background {
	background-color: #000;
	background-size: cover;
	background-position: center;
	height: 450px;
	width: calc(60% - 30px);
	border-radius: 4px;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .cat-links {
	font-size: 16px;
	text-transform: none;
	text-align: left;
	padding: 0;
	margin: 0 0 5px;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .entry-recipe-details {
	padding: 0;
	margin: 15px 0 0;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .cookbook-slide-title {
	padding: 0;
	margin: 0;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-content {
	padding: 0;
	margin: 20px 0 0;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-content :last-child {
	margin-bottom: 0;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	font-size: 14px;
	padding: 24px 0 0;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	margin: 24px 0 0;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-footer .entry-author-pic {

}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-footer .entry-author-pic img {
	border-radius: 50%;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-footer .entry-meta-details {

}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-footer .entry-author-name {
	display: block;
	font-weight: 600;
}

.cookbook-slider > .cookbook-slides .cookbook-slide .slide-footer .entry-date {
	display: block;
}

.cookbook-slider-title {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 40%;
	padding: 0;
	margin: 0;
}

.cookbook-slider-title h3 {
	font-size: 18px;
	font-weight: 600;
	color: #000;
	opacity: 0.5;
	padding: 0;
	margin: 0;
}

.cookbook-slider-prevnext {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	width: 40%;
}

.cookbook-slider-prevnext .prevnext-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}

.cookbook-slider-prevnext .cookbook-slider-prevnext-prev,
.cookbook-slider-prevnext .cookbook-slider-prevnext-next {
	display: flex;
	align-items: center;
	justify-content: center;
	position: static;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: #000;
	height: auto;
	width: auto;
	transform: none;
	opacity: 1;
}

.cookbook-slider-prevnext .cookbook-slider-prevnext-prev.slick-disabled,
.cookbook-slider-prevnext .cookbook-slider-prevnext-next.slick-disabled {
	pointer-events: none;
	opacity: 0.5;
}

.cookbook-slider-prevnext .cookbook-slider-prevnext-prev::before,
.cookbook-slider-prevnext .cookbook-slider-prevnext-next::before {
	display: none;
}

.cookbook-slider-prevnext .cookbook-slider-prevnext-prev:hover,
.cookbook-slider-prevnext .cookbook-slider-prevnext-next:hover {
	opacity: 0.5;
}

.cookbook-slider-prevnext .cookbook-slider-prevnext-number {
	font-size: 16px;
	line-height: 1;
	color: #000;
}

.cookbook-slider > .cookbook-slides .slick-disabled {
	opacity: .7;
}

.cookbook-slider > .cookbook-slides .wpz-slick-item {
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
}

.cookbook-slider > .cookbook-slides .wpz-video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.cookbook-slider > .cookbook-slides iframe,
.cookbook-slider > .cookbook-slides video {
	height: 100%;
	object-fit: cover;
}

.cookbook-slider > .cookbook-slides .wpz-slick-content {
	position: absolute;
	bottom: 0;
	padding: 1.5rem;
	width: 100%;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
}

.cookbook-slider > .cookbook-slides .wpz-slick-title {
	margin-top: 0;
	margin-bottom: .2rem;
	font-size: 20px;
}

.cookbook-slider > .cookbook-slides .wpz-slick-subtitle {
	margin: 0;
}