.elementor-element .button, .elementor-element button[type=submit], .elementor-element input[type=button], .elementor-element input[type=reset], .elementor-element input[type=submit] {
    display: inline-block;
    font-family: inherit;
    background-color: #f68e13;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding: 14px 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
ul.page-numbers {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    text-align: right;
    clear: both;
}
ul.page-numbers li {
    display: inline-block;
}
.page-links span, .page-numbers a, .page-numbers span:not(.elementor-screen-only) {
    position: relative;
    display: inline-block;
    min-width: 38px;
    min-width: 38px;
    line-height: 38px;
    margin: 0 8px 0 0;
    text-align: center;
    color: #555;
    border: 1px solid #e9e9e9;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 2px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.elementor-widget-container .wpcf7 label {
    width: 100%;
}
.woocommerce ul.products li.product .button {
    padding: 5px 10px;
}