.elementor-templates-modal__header__logo__title,
#wpzoom_main_library_templates_panel,
#wpzoom-elementor-template-library-toolbar {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wpzoom-templates-library-template-category {
	display: block;
	width: 100%;
	text-align: left;
	margin:30px 0 20px 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dedede;
}

#elementor-panel-categories {
    display: flex;
    flex-direction: column;
}
#elementor-panel-category-wpzoom-elementor-addons-inspiro,
#elementor-panel-category-wpzoom-elementor-addons-foodica,
#elementor-panel-category-wpzoom-elementor-addons-cookbook {
    order: -2;
}
#elementor-panel-category-wpzoom-elementor-addons {
    order: -1
}
.elementor-add-new-section .elementor-add-wpzoom-templates-button {
    margin-left:5px;
    background:url(../images/logo.svg) no-repeat center center;
    background-size: contain;
}
.elementor-add-new-section .elementor-add-wpzoom-templates-button .eicon-folder {
    visibility: hidden;
}
#wpzoom-elementor-template-library-modal .e-logo-wrapper {
    background:url(../images/logo.svg) no-repeat left center;
    background-size: contain;
	border-radius:0px;
}
#wpzoom-elementor-template-library-modal .e-logo-wrapper i {
	visibility: hidden;
}
.elementor-template-library-menu-custom-item {
	display:inline-block;
	padding:17px 0;
	width:145px;
	cursor:pointer;
}
#wpzoom-elementor-template-library-preview img {
	width:100%;
}
.wpzoom-version-label, .wpzoom-version, .wpzoom-dates {
	display: none !important;
}
.wpzoom-main-tiled-view {
    margin: 10px -15px 0;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.wpzoom-main-tiled-view .wpzoom-item {
	display:flex;
	flex-direction:column;

    width: calc(20% - 30px);

    margin: 15px;
    padding: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 20px 0 rgb(0 0 0 / 7%);
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 7%);
    -webkit-border-radius: 3px;
    border-radius: 3px;


}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-template-title {
	text-align:left;
	font-size:14px;
    margin-bottom: 5px;
    font-weight: 500;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-template-title i {
	color:#D52;
	margin-right:3px;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-version-label {
	font-size:11px;
	text-align:center;
	margin-bottom:-8px;
	margin-left:5px;
	width:75px;
	z-index:20;
	background:#f1f3f5;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-version {
	margin-bottom:5px;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-template-thumb {
	width: 100%;
	height: 200px;
	margin-bottom:5px;
	border:1px solid #ccc;
	background-size:100% auto;
	background-position:100% 0;
	overflow:hidden;
	transition:.6s;
    position: relative;
	transition-timing-function:ease-in-out;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-template-thumb:hover {
	background-position:100% 99%;
	transition-timing-function:linear;
}
.wpzoom-main-tiled-view .wpzoom-item:hover  .wpzoom-template-thumb:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    cursor: pointer;
    line-height: 200px;
    content: '\e92e';
    font-family: eicons;
    font-size: 22px;
    color: #fff;
}

.wpzoom-main-tiled-view .wpzoom-item .wpzoom-dates {
	display:flex;
	flex-direction:row;
	font-size:11px;
	padding:5px 0;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-dates div {
	flex-grow:1;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-dates div:nth-child(1) {
	text-align:left;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-dates div:nth-child(2) {
	text-align:right;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-action-bar {
	display:flex;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-action-bar .wpzoom-grow {
	flex-grow:1;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-action-bar .wpzoom-btn-template-insert {
	color:#555;
	cursor:pointer;
	padding:5px 10px;
	width:100%;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.3);
	transition:.4s;
}
.wpzoom-main-tiled-view .wpzoom-item .wpzoom-action-bar .wpzoom-btn-template-insert:hover {
	background:#fff;
	border-color:#0A0;
	box-shadow:0 10px 15px rgba(0,0,0,0.1);
	color:#0A0;
}
.wpzoom-pagging {
	display:flex;
	justify-content:center;
	flex-direction:row;
	padding:10px 5px;
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
}
.wpzoom-pagging .wpzoom-page-current {
	margin:10px 2px 0;
	padding:3px 10px;
	font-size:16px;
	color:#000;
	background:#ddd;
	border:1px solid #DDD;
	border-radius:5px;
	box-shadow:inset 5px 5px 15px rgba(0,0,0,0.2);
}
.wpzoom-pagging .wpzoom-page-goto {
	margin:10px 2px 0;
	border-radius:5px;
	padding:3px 10px;
	font-size:16px;
	color:#666;
	border:1px solid #DDD;
	transition:.4s;
}
.wpzoom-pagging .wpzoom-page-goto:hover {
	background:#fff;
	border:1px solid #FFF;
	color:#03F;
	z-index:9999;
	box-shadow:2px 2px 15px rgba(0,0,0,0.2);
	transform:scale(1.1);
}

@keyframes Sizing {
	0% {
		transform:scale(0);
	}
	
	100% {
		transform:scale(1);
	}
}

/* Editor Panel Dark Mode */
.wpzoom-dark-mode .wpzoom-templates-library-template-category {
	border-color:#444;
}
.wpzoom-dark-mode .wpzoom-main-tiled-view .wpzoom-item {
	background-color:#26292c;
}
.wpzoom-dark-mode .wpzoom-main-tiled-view .wpzoom-item .wpzoom-action-bar .wpzoom-btn-template-insert {
	color:#fff;
	border-color:#444;
}
.wpzoom-dark-mode .wpzoom-main-tiled-view .wpzoom-item .wpzoom-action-bar .wpzoom-btn-template-insert:hover {
	color:#111;
}
.wpzoom-dark-mode .wpzoom-main-tiled-view .wpzoom-item .wpzoom-template-thumb {
	border-color:#444;
}
