.elementor-add-new-section .elementor-add-wpzoom-templates-button {
    margin-left:5px;
    background:url(../images/logo.svg) no-repeat center center;
    background-size: contain;
}
.elementor-add-new-section .elementor-add-wpzoom-templates-button .eicon-folder {
    visibility: hidden;
}