.wpz-slick--carousel .slick-slide {
	display: inline-block;
	float: none;
	vertical-align: middle;
	border: 0;
}
.wpz-slick--carousel .slick-next,
.wpz-slick--carousel .slick-prev {
	z-index: 999;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 0;
	border: 1px solid rgba(255, 255, 255, .8);
	border-radius: 50%;
	background-color:rgba(255, 255, 255, .8);
	color: #8c8c8c;
	font-size: 12px;
	opacity: 1;
}
.wpz-slick--carousel .slick-next:focus,
.wpz-slick--carousel .slick-next:hover,
.wpz-slick--carousel .slick-prev:focus,
.wpz-slick--carousel .slick-prev:hover {
	background-color: #fff;
	color: #8c8c8c;
}
.wpz-slick--carousel .slick-next:before,
.wpz-slick--carousel .slick-prev:before {
	display: none;
	content: "";
}
.wpz-slick--carousel .slick-next > svg,
.wpz-slick--carousel .slick-prev > svg {
	width: auto;
	height: 1em;
	fill: currentColor;
}
.wpz-slick--carousel .slick-disabled {
	opacity: .7;
}
.wpz-slick--carousel:not(.slick-vertical) .slick-slide {
	padding-right: 5px;
	padding-left: 5px;
}
.wpz-slick--carousel.slick-vertical .slick-slide {
	padding-top: 5px;
	padding-bottom: 5px;
}
.wpz-slick--carousel .wpz-slick-item {
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
}
.wpz-slick--carousel .wpz-slick-content {
	position: absolute;
	bottom: 0;
	padding: 1.5rem;
	width: 100%;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
}
.wpz-slick--carousel .wpz-slick-title {
	margin-top: 0;
	margin-bottom: .2rem;
	font-size: 20px;
}
.wpz-slick--carousel .wpz-slick-subtitle {
	margin: 0;
}